.login-container {
  background-color: var(--primary);
}

.headline {
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 29.26px;
}

.caption {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 21.94px;
}

.user-form {
  width: 600px;
  max-width: 600px;
}

.pet-select:hover, .pet-select-focus {
  background: rgba(128, 128, 128, 0.123);
}
